.AuthOne{
    width: 100%;
    height: 100vh;
}

.AuthFacebookAndGoogle{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
}


@media only screen and (max-width: 1090px) {
    .AuthTwo{
        width:100%;
        display: flex;
        flex-direction: row;
    }   
   .AuthThree{
       width:0%;
   }
   .AuthFour{
       display: flex;
       width:100%;
       flex-direction: column;
       align-items: center;
   } 
   .AuthLogo{
       width:30%;
       margin-top: 2%;
   }
   .loginAuthForm{
       width:80%;
       padding:2%;
       border:1px solid #fff;
       border-radius: 8px;
       background-color:#fff;
       margin-top: 10%;
       overflow: auto;
   }
   .AuthFive{
       width:100%;
       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
   }
   .AuthSix{
       width:100%;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
   }
   .AuthInputIcon{
       margin-top: 8%;
       color:#00695c;
   }
   .AuthInputOne{
       width:70%;
       margin-top: 4%;
       border: none;
       border-bottom: 2px solid;
       padding:2%;
       margin-left: 20px;;
       text-decoration: none;
       outline: none;
   }
   .AuthButton{
       width:40%;
       padding:2%;
       background-color: #00695c;
       margin-left: auto;
       margin-right: auto;
       border-radius:8px;
       margin-top: 5%;
       display:flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
   }
   .AuthSpanOne{
       font-size:15px;
       font-weight: 500;
       color: #fff;
       font-family: Georgia, serif;
   }
   .AuthSeven{
       width:80%;
       display:flex;
       margin-left: auto;
       margin-right: auto;
       margin-top: 5%;
       align-items: center;
       justify-content:center;
       cursor: pointer;
   }
   .AuthSpanTwo{
       font-size:12px;
       font-weight: 500;
       color: #00695c;
       font-family: Georgia, serif;
   }
   .AuthEight{
       margin-top: 30px;
  width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   }
   .AuthSpanThree{
    font-size:12px;
    font-weight: 500;
    color: #333;
    font-family: Georgia, serif;
   }
   .AuthNine{
    display: flex;
    flex-direction: column;
   }
   .AuthForgot{
    margin-top:5%;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    padding:1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.forgotPasswordDivOne{
    width:100%;
    height:100vh;
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction:row;
    border: none;
    outline: none;
}
.forgotPasswordDivTwo{
   margin-top:auto;
   margin-bottom:auto;
   border-radius: 8px;
   background-color: #fff;
   width:90%;
   padding:2%;
   padding-bottom: 2%;
}
.closeModalForPassword{
   width:90%;
   margin-left:auto;
   margin-right:auto;
    padding:0.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.inputForgotPassword{
   margin-top:1%;
}
}

@media only screen and (min-width: 1090px) {
    .AuthTwo{
        width:100%;
        display: flex;
        flex-direction: row;
    }   
   .AuthThree{
       width:35%;
       background-image: url('../../assets/images/phaseTwo.png');
       background-size: 100% 100%;
       background-repeat: no-repeat;
       height:100vh;
   }
   .AuthFour{
       display: flex;
       width:65%;
       flex-direction: column;
       align-items: center;
   } 
   .AuthLogo{
       width:20%;
       margin-top: 2%;
   }
   .loginAuthForm{
       width:55%;
       padding:2%;
       border:1px solid #fff;
       border-radius: 8px;
       background-color:#fff;
       margin-top: 5%;
       overflow: auto;
   }
   .AuthFive{
       width:100%;
       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
   }
   .AuthSix{
       width:90%;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
   }
   .AuthInputIcon{
       margin-top: 3%;
       color:#00695c;
   }
   .AuthInputOne{
       width:70%;
       margin-top: 2%;
       border: none;
       border-bottom: 2px solid;
       padding:2%;
       margin-left: 20px;;
       text-decoration: none;
       outline: none;
   }
   .AuthButton{
       width:40%;
       padding:2%;
       background-color: #00695c;
       margin-left: auto;
       margin-right: auto;
       border-radius:8px;
       margin-top: 5%;
       display:flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
   }
   .AuthSpanOne{
       font-size:20px;
       font-weight: 500;
       color: #fff;
       font-family: Georgia, serif;
   }
   .AuthSeven{
       width:60%;
       display:flex;
       margin-left: auto;
       margin-right: auto;
       margin-top: 5%;
       align-items: center;
       justify-content:center;
       cursor: pointer;
   }
   .AuthSpanTwo{
       font-size:15px;
       font-weight: 500;
       color: #00695c;
       font-family: Georgia, serif;
   }
   .AuthEight{
    position:absolute;
    bottom:0;
  width:60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   }
   .AuthSpanThree{
    font-size:12px;
    font-weight: 500;
    color: #333;
    width:40%;
    margin-top: 5%;
    font-family: Georgia, serif;
   }
   .AuthNine{
    display: flex;
    flex-direction: row;
   }
   .developerLogo{
       width:90%
   }
   .AuthForgot{
       margin-top:5%;
       width:80%;
       margin-left: auto;
       margin-right: auto;
       padding:1%;
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
   }
   .forgotPasswordDivOne{
        width:100%;
        height:100vh;
        justify-content:center;
        align-items: center;
        display: flex;
        flex-direction:row;
        border: none;
        outline: none;
   }
   .forgotPasswordDivTwo{
       margin-top:auto;
       margin-bottom:auto;
       border-radius: 8px;
       background-color: #fff;
       width:50%;
       padding:2%;
   }
   .closeModalForPassword{
       width:90%;
       margin-left:auto;
       margin-right:auto;
        padding:0.5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
   }
   .inputForgotPassword{
       margin-top:1%;
   }
   }