.sideMenuOne{
    width: 15%;
    height: 100vh;
}
.sideMenuTwo{
    width: 100%;
    height: 100vh;
    background-color:#333;
    opacity: 100%;
    border-bottom-right-radius: 60px;
}
.topBarOne{
    width:100%;
    border: none;
    padding-top: 10px;
    background-color:#333;
}
.topBarTwo{
    width:100%;
    background-color:#333;
    opacity: 100%;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoOnTopBar{
    width:30%;
    height:12%;
}