.landingPageOne{
  background-size: 100% 100%;
  background-color:#fff;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.navbar{
  overflow: hidden;
  background-color: #fff;
  transition: 0.4s;
  padding-top: 1%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  border:none;
  display: flex;
  flex-direction:column;
}

.landingPageMenuTop{
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  padding:2%;
  margin-left: auto;
  margin-right: auto;
}



@media only screen and (max-width: 768px) {
  .landingPageMenuItems{
      display: flex;
      flex-direction: row;
      justify-content:flex-end;
      width:100%;
      padding-bottom: 2%;
  }
  .landingPageSpan{
      font-size:8px;
      font-weight: 500;
      color:#004d40;
      padding-left: 5%;
      font-family: Georgia, serif;
      cursor: pointer;
      
  }
  .allAdsOnLanding{
    width:100%;
    margin-top:8%;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  .sampleAds{
    width:100%;
  }

  @keyframes upperBodyLandingAnimation {
    from {opacity: 0;}
    to {opacity:0.8}
  }
  .upperBodyLanding{
    width:80%;
    padding:2%;
    background-color: #00695c;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    opacity: 0.8;
    border-radius:10px;
    display: flex;
    justify-content:center;
    align-items: center;
    animation-name: upperBodyLandingAnimation;
    animation-duration: 6s;
  }
.upperBodyLandingInside{
  width:80%;
  display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.landingLogoBuy{
  width:20%;
}
.buyNowLandingPage{
  width:30%;
  border:1px solid #fff;
  padding:1%;
  margin-top:5%;
 cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;
}
.buyNowLandingPage:hover{
  width:30%;
  background-color:#00796b;
  padding:1%;
  margin-top:5%;
 cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;
}
.offerUpperPermanent{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content:center;
  align-items: center;

}
.offerPermanent{
  width:100%;
  padding-top:0%;
  padding-bottom:0.5%;
  background-color: #00695c;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top:1%;
}
.offerText{
  font-size:10px;
  font-weight: 800;
  color: #fff;
  font-family: Georgia, serif;
  padding-top:0.5%;
}
.LandingBottom{
  width:100%;
  bottom:0;
  padding-top:2%;
  background-color: #00695c;
  margin-top: 2%;
}
.aboutUsLanding{
  width:100%;
  margin-top:5%;
  padding:2%;
  margin-left: auto;
  margin-right: auto;
}
.categoriesLandingOne{
  width:100%;
  margin-top:5%;
}
.categoryHeadingLanding{
  display: flex;
  justify-content:center;
  align-items: center;
  width:100%;
  padding:1%;
}
.headingLanding{
  font-size:25px;
  font-weight: 500;
  color: #333;
  font-family: Georgia, serif;
  opacity:1;
}
.aboutImageOneOne{
  width:20%;
}
.aboutImageTwo{
  width:100%;
  display: flex;
  justify-content: flex-end;
}
.aboutTextLanding{
  width:80%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  border-radius:10px;
}
.aboutUsHeadingSpan{
  font-size:25px;
  font-weight: 500;
  text-align: center;
  color: #333;
  font-family: Georgia, serif;
  opacity:1;
}
.aboutUsSpan{
  font-size:12px;
  font-weight: 500;
  margin-left: 2%;
  padding-left: 2%;
  color: #333;
  font-family: Georgia, serif;
  opacity:1;
  border-left: 1px solid #333;
}
.drawer{
  width:100%;
}
.drawerUl{
  width:100%;
  display: flex;
  flex-direction: column;
}
.drawerLi{
  font-size:18px;
  font-weight: 500;
  color:#004d40;
  font-family: Georgia, serif;
  cursor: pointer;
  margin-top: 5%;
  margin-top: auto;
  margin-bottom:auto;
  margin-left:3%;
}
.drawerLiName{
  font-size:12px;
  font-weight: 500;
  color:#004d40;
  font-family: Georgia, serif;
  cursor: pointer;
  margin-top: 5%;
  margin-top: auto;
  margin-bottom:auto;
  margin-left:3%;
}
.logoDrawer{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
}
.drawerEach{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-bottom:0.5px solid #004d40;
  padding:2%;
  margin-top:5%;
}
.drawerIcon{
  margin-left:5%;
  margin-top: auto;
  margin-bottom:auto;
  color:#004d40;
  font-size:20px;
}
.MuiDrawer-paperAnchorRight{
  width:70%;
}
.landingBottomDataContainer{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-bottom: 5%;
}
.landingBottomDataOne{
  width:0%;
}
.landingBottomDataTwo{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  margin-top:5%;
  width:50%;
}
.landingBottomIcon{
  font-size:20px;
  color:#fff;
  margin-left:5%;
  cursor: pointer;
}
.landingBottomDataThree{
  display: flex;
  flex-direction: column;
}
.landingBottomTexts{
  font-size:12px;
  color: #fff;
  font-family: Georgia, serif;
  cursor: pointer;
  margin-top: 5%;
}
.categoryItemsDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.categoryItems{
  display: flex;
  flex-direction:column;
  width:30%;
  margin-left: 2%;
}
.categoryItemsEach{
  display: flex;
  flex-direction:column;
  width:100%;
}
.landingCategoryImage{
  width:100%;
  border-radius:2%;
  height:10vh;
  object-fit: contain;
}
.landingCategoryName{
  font-size:12px;
  font-weight:500;
      color:#fff;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
}
.LandingCategoryBack{
  background-color: #333;
    width:100%;
    padding:1%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  border-radius:8px;
}
.arrowForLandingCategory{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display:flex;
  justify-content:center;
  align-items: center;
}
.arrowForLandingCategoryTwo{
  width:100%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.arrowIconOne{
  color:#333;
  margin-top: auto;
  margin-bottom:auto;
  cursor: pointer;
}
.arrowIconTwo{
  color:#333;
  margin-top: auto;
  margin-bottom:auto;
  cursor: pointer;
}
.arrowSpan{
  font-size:30px;
  color:#333;
  margin-top: auto;
  margin-bottom:auto;
}
.topSellersDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:column;
}
.topSellersItems{
  display: flex;
  flex-direction:column;
  width:100%;
  margin-left: 2%;
}
.topSellersItemsEach{
  display: flex;
  flex-direction:column;
  width:100%;
}
.topSellersImage{
  width:100%;
  height:50vh;
  border-radius: 8px;
}
.topSellersName{
  font-size:20px;
  font-weight:500;
      color:#333;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
      border-bottom: 0.8px solid #ddd
}
.topSellersBack{
  background-color: #333;
    width:90%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  border-radius:8px;
}
.topSellersNameTwo{
  font-size:15px;
  font-weight:500;
      color:#fff;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
}
.topSellersNameThree{
  font-size:18px;
  font-weight:500;
      color:#333;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
}
.topSellersTag{
  width:30%;
  padding:2%;
  background-color: goldenrod;
  position: absolute;
  opacity:0.8;
  border-bottom-right-radius: 5px;
}
.topSellersNameFour{
  font-size:15px;
  font-weight:500;
      color:#fff;
      font-family: Georgia, serif;
}

.customerFeedbackDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
}
.customerFeedbackCard{
  width:90%;
  padding:2%;
  background-color:goldenrod;
  opacity: 0.8;
  border-radius:8px;
  display:flex;
  justify-content:space-between;
}
.feedbackIcon{
  color:#fff;
  margin-top: auto;
  margin-bottom:auto;
}
.feedbackText{
  width:100%;
  font-size:15px;
  color:#fff;
  font-weight:500;
  text-align: left;
}
.customerFeedbackText{
  display: flex;
  width:70%;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.feedbackByName{
  width:100%;
  font-size:15px;
  color:#fff;
  font-weight:500;
  text-align: right;
}
.dotsOnFeedback{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  justify-content:space-between;
  align-items:center;
  display: flex;
  flex-direction: row;
}
.dotsManual{
  color:#fff;
  margin-top:5%;
  margin-left:0.5%;
  cursor: pointer;
}
.covidSafetyDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:column;
  justify-content:space-between;

}
.covidSafetySpan{
  width:100%;
  margin-top: auto;
  margin-bottom:auto;
}
.covidSafetySpanText{
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color:#333;
  font-size:15px;
  font-weight: 500;
  padding-bottom: 2%;
}
.videoCovid{
  border-top: 1px solid #ddd;
  padding-top:4%;
  width:100%;
  height:50%;
}
.connectedInfo{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.connectedImage{
  width:30%;
  cursor: pointer;
}
.offerDivModal{
  width:90%;
  padding-bottom:5%;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border:5px solid goldenrod;
  outline: none;
  border-radius:2px;
}
.closeModalCross{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding-top:5%;
  display: flex;
  justify-content:flex-end;
}
.closeModalCrossIcon{
  color:goldenrod;
}
.offerDivModalInside{
  width:80%;
  margin-left: auto;
  margin-right:auto;
  justify-content:center;
  align-items:center;
  display: flex;
  outline: none;
  flex-direction:column;
  margin-top:5%
}
.offerSpanText{
  font-size:25px;
  color:goldenrod;
  font-weight: 500;
}
.offerSpanTextTwo{
  font-size:35px;
  color:goldenrod;
  font-weight: 800;
}
.buyNowText{
  font-size:12px;
  font-weight: 500;
  color: #fff;
  font-family: Georgia, serif;
}
}

@media only screen and (min-width: 768px) {
  .landingPageMenuItems{
      display: flex;
      flex-direction: row;
      justify-content:flex-end;
      width:45%;
  }
  .landingPageSpan{
      font-size:12px;
      font-weight: 500;
      color:#004d40;
      padding-left: 8%;
      font-family: Georgia, serif;
      cursor: pointer;
  }
  .allAdsOnLanding{
    width:100%;
    margin-top:8%;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  .sampleAds{
    width:100%;
  }
  @keyframes upperBodyLandingAnimation {
    from {opacity: 0;}
    to {opacity:0.8}
  }
  .upperBodyLanding{
    width:50%;
    padding:2%;
    background-color: #00695c;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    opacity: 0.8;
    border-radius:10px;
    display: flex;
    justify-content:center;
    align-items: center;
    animation-name: upperBodyLandingAnimation;
    animation-duration: 6s;
  }
.upperBodyLandingInside{
  width:80%;
  display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.landingLogoBuy{
  width:20%;
}
.buyNowLandingPage{
  width:30%;
  border:1px solid #fff;
  padding:1%;
  margin-top:5%;
 cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;
}
.buyNowLandingPage:hover{
  width:30%;
  background-color:#00796b;
  padding:1%;
  margin-top:5%;
 cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;
}
.buyNowText{
  font-size:18px;
  font-weight: 500;
  color: #fff;
  font-family: Georgia, serif;
}
.offerUpperPermanent{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content:center;
  align-items: center;

}
.offerPermanent{
  width:100%;
  padding-top:0%;
  padding-bottom:0.5%;
  background-color: #00695c;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top:1%;
}
.offerText{
  font-size:15px;
  font-weight: 800;
  color: #fff;
  font-family: Georgia, serif;
  padding-top:0.5%;
}
.LandingBottom{
  bottom:0;
  background-color: #00695c;
  padding:2%;
  margin-top: 2%;
}
.aboutUsLanding{
  width:70%;
  margin-top:5%;
  padding:2%;
  margin-left: auto;
  margin-right: auto;
}
.categoriesLandingOne{
  width:100%;
  margin-top:5%;
}
.categoryHeadingLanding{
  display: flex;
  justify-content:center;
  align-items: center;
  width:100%;
  padding:1%;
}
.headingLanding{
  font-size:30px;
  font-weight: 500;
  color: #333;
  font-family: Georgia, serif;
  opacity:1;
}
.aboutImageOneOne{
  width:20%;
}
.aboutImageTwo{
  width:100%;
  display: flex;
  justify-content: flex-end;
}
.aboutTextLanding{
  width:80%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  border-radius:10px;
}
.aboutUsHeadingSpan{
  font-size:30px;
  font-weight: 800;
  text-align: center;
  color: #333;
  font-family: Georgia, serif;
  opacity:1;
}
.aboutUsSpan{
  font-size:20px;
  font-weight: 500;
  margin-left: 2%;
  padding-left: 2%;
  color: #333;
  font-family: Georgia, serif;
  opacity:1;
  border-left: 1px solid #333;
}
.landingBottomDataContainer{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.landingBottomDataOne{
  width:15%;
}
.landingBottomDataTwo{
  width:8%;
  margin-top:auto;
  margin-bottom:auto;
}
.landingBottomIcon{
  font-size:20px;
  color:#fff;
  margin-left:5%;
  cursor: pointer;
}
.landingBottomDataThree{
  display: flex;
  flex-direction: column;
  margin-top:auto;
  margin-bottom:auto;
}
.landingBottomTexts{
  font-size:18px;
      color: #fff;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
}
.categoryItemsDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.categoryItems{
  display: flex;
  flex-direction:column;
  width:15%;
  margin-left: 2%;
}
.categoryItemsEach{
  display: flex;
  flex-direction:column;
  width:100%;
}
.landingCategoryImage{
  width:100%;
  border-radius:2%;
  height:15vh;
  object-fit: contain;
}
.landingCategoryName{
  font-size:18px;
  font-weight:500;
      color:#fff;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
}
.LandingCategoryBack{
  background-color: #333;
    width:90%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  border-radius:8px;
}
.arrowForLandingCategory{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  display:flex;
  justify-content:center;
  align-items: center;
}
.arrowForLandingCategoryTwo{
  width:20%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.arrowIconOne{
  color:#333;
  margin-top: auto;
  margin-bottom:auto;
  cursor: pointer;
}
.arrowIconTwo{
  color:#333;
  margin-top: auto;
  margin-bottom:auto;
  cursor: pointer;
}
.arrowSpan{
  font-size:30px;
  color:#333;
  margin-top: auto;
  margin-bottom:auto;
}
.topSellersDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.topSellersItems{
  display: flex;
  flex-direction:column;
  width:18%;
  margin-left: 2%;
}
.topSellersItemsEach{
  display: flex;
  flex-direction:column;
  width:100%;
}
.topSellersImage{
  width:100%;
  height:30vh;
  border-radius: 8px;
}
.topSellersName{
  font-size:22px;
  font-weight:500;
      color:#333;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
      border-bottom: 0.8px solid #ddd
}
.topSellersBack{
  background-color: #333;
    width:90%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  border-radius:8px;
}
.topSellersNameTwo{
  font-size:18px;
  font-weight:500;
      color:#fff;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
}
.topSellersNameThree{
  font-size:20px;
  font-weight:500;
      color:#333;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
}
.topSellersTag{
  width:10%;
  padding:0.6%;
  background-color: goldenrod;
  position: absolute;
  opacity:0.8;
  border-bottom-right-radius: 5px;
}
.topSellersNameFour{
  font-size:15px;
  font-weight:500;
      color:#fff;
      font-family: Georgia, serif;
}

.customerFeedbackDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
}
.customerFeedbackCard{
  width:60%;
  padding:2%;
  background-color:goldenrod;
  opacity: 0.8;
  border-radius:8px;
  display:flex;
  justify-content:space-between;
}
.feedbackIcon{
  color:#fff;
  margin-top: auto;
  margin-bottom:auto;
}
.feedbackText{
  width:100%;
  font-size:15px;
  color:#fff;
  font-weight:500;
  text-align: right;
}
.customerFeedbackText{
  display: flex;
  width:70%;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.feedbackByName{
  width:100%;
  font-size:15px;
  color:#fff;
  font-weight:500;
  text-align: right;
}
.dotsOnFeedback{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  justify-content:center;
  align-items:center;
  display: flex;
  flex-direction: row;
}
.dotsManual{
  color:#fff;
  margin-top:1%;
  margin-left:0.5%;
  cursor: pointer;
}
.covidSafetyDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;

}
.covidSafetySpan{
  width:60%;
  margin-top: auto;
  margin-bottom:auto;
}
.covidSafetySpanText{
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color:#333;
  font-size:15px;
  font-weight: 500;
}
.videoCovid{
  border-left: 1px solid #333;
  padding-left:8%;
  width:30%;
  height:50%;
}
.connectedInfo{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.connectedImage{
  width:20%;
  cursor: pointer;
}
.cartAndOrderShowDiv{
  width:100%;
  display: flex;
  position:absolute;
  flex-direction:row;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}
.cartAndOrderDisplay{
  width:10%;
  display: flex;
  flex-direction: row;
}
.shopCartOrderRecieptIcon{
  color:#004d40;
  cursor: pointer;
}
}

@media only screen and (min-width: 1100px) {
  .landingPageMenuItems{
      display: flex;
      flex-direction: row;
      justify-content:flex-end;
      width:40%;
  }
  .landingPageSpan{
      font-size:15px;
      font-weight: 500;
      color:#004d40;
      font-family: Georgia, serif;
      cursor: pointer;
  }
  .allAdsOnLanding{
    width:100%;
    margin-top:5%;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  .sampleAds{
    width:100%;
  }
  @keyframes upperBodyLandingAnimation {
    from {opacity: 0;}
    to {opacity:0.8}
  }
  .upperBodyLanding{
    width:40%;
    padding:2%;
    background-color: #00695c;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    opacity: 0.8;
    border-radius:20px;
    display: flex;
    justify-content:center;
    align-items: center;
    animation-name: upperBodyLandingAnimation;
    animation-duration: 6s;
  }
.upperBodyLandingInside{
  width:80%;
  display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.landingLogoBuy{
  width:50%;
}
.buyNowLandingPage{
  width:20%;
  border:1px solid #fff;
  padding:1%;
  margin-top:5%;
 cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;
}
.buyNowLandingPage:hover{
  width:20%;
  background-color:#00796b;
  padding:1%;
  margin-top:5%;
 cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;
}
.buyNowText{
  font-size:20px;
  font-weight: 500;
  color: #fff;
  font-family: Georgia, serif;
}
.offerUpperPermanent{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content:center;
  align-items: center;

}
.offerPermanent{
  width:100%;
  padding-top:0%;
  padding-bottom:0.5%;
  background-color: #00695c;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top:1%;
}
.offerText{
  font-size:18px;
  font-weight: 800;
  color: #fff;
  font-family: Georgia, serif;
  padding-top:0.5%;
}
.LandingBottom{
  bottom:0;
  background-color: #00695c;
  padding:2%;
  margin-top: 2%;
}
.aboutUsLanding{
  width:70%;
  margin-top:5%;
  padding:2%;
  margin-left: auto;
  margin-right: auto;
}
.categoriesLandingOne{
  width:100%;
  margin-top:5%;
}
.categoryHeadingLanding{
  display: flex;
  justify-content:center;
  align-items: center;
  width:100%;
  padding:1%;
}
.headingLanding{
  font-size:30px;
  font-weight: 500;
  color: #333;
  font-family: Georgia, serif;
  opacity:1;
}
.aboutImageOneOne{
  width:20%;
}
.aboutImageTwo{
  width:100%;
  display: flex;
  justify-content: flex-end;
}
.aboutTextLanding{
  width:60%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  border-radius:10px;
}
.aboutUsHeadingSpan{
  font-size:30px;
  font-weight: 800;
  text-align: center;
  color: #333;
  font-family: Georgia, serif;
  opacity:1;
}
.aboutUsSpan{
  font-size:20px;
  font-weight: 500;
  margin-left: 2%;
  padding-left: 2%;
  color: #333;
  font-family: Georgia, serif;
  opacity:1;
  border-left: 1px solid #333;
}
.landingBottomDataContainer{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.landingBottomDataOne{
  width:8%;
}
.landingBottomDataTwo{
  width:8%;
  margin-top:auto;
  margin-bottom:auto;
}
.landingBottomIcon{
  font-size:20px;
  color:#fff;
  margin-left:5%;
  cursor: pointer;
}
.landingBottomDataThree{
  display: flex;
  flex-direction: column;
  margin-top:auto;
  margin-bottom:auto;
}
.landingBottomTexts{
  font-size:18px;
      color: #fff;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
}
.categoryItemsDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.categoryItems{
  display: flex;
  flex-direction:column;
  width:15%;
  margin-left: 2%;
}
.categoryItemsEach{
  display: flex;
  flex-direction:column;
  width:100%;
}
.landingCategoryImage{
  width:100%;
  border-radius:2%;
  height:20vh;
  object-fit: contain;
}
.landingCategoryName{
  font-size:22px;
  font-weight:500;
      color:#fff;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
}
.LandingCategoryBack{
  background-color: #333;
    width:90%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  border-radius:8px;
}
.arrowForLandingCategory{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  display:flex;
  justify-content:center;
  align-items: center;
}
.arrowForLandingCategoryTwo{
  width:8%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.arrowIconOne{
  color:#333;
  margin-top: auto;
  margin-bottom:auto;
  cursor: pointer;
}
.arrowIconTwo{
  color:#333;
  margin-top: auto;
  margin-bottom:auto;
  cursor: pointer;
}
.arrowSpan{
  font-size:30px;
  color:#333;
  margin-top: auto;
  margin-bottom:auto;
}
.topSellersDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.topSellersItems{
  display: flex;
  flex-direction:column;
  width:15%;
  margin-left: 2%;
}
.topSellersItemsEach{
  display: flex;
  flex-direction:column;
  width:100%;
}
.topSellersImage{
  width:100%;
  height:40vh;
  border-radius: 8px;
}
.topSellersName{
  font-size:22px;
  font-weight:500;
      color:#333;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
      border-bottom: 0.8px solid #ddd
}
.topSellersBack{
  background-color: #333;
    width:90%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  border-radius:8px;
}
.topSellersNameTwo{
  font-size:20px;
  font-weight:500;
      color:#fff;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
}
.topSellersNameThree{
  font-size:20px;
  font-weight:500;
      color:#333;
      font-family: Georgia, serif;
      cursor: pointer;
      margin-top:5%;
      text-align: center;
      padding-bottom: 3%;
}
.topSellersTag{
  width:8%;
  padding:0.6%;
  background-color: goldenrod;
  position: absolute;
  opacity:0.8;
  border-bottom-right-radius: 5px;
}
.topSellersNameFour{
  font-size:18px;
  font-weight:500;
      color:#fff;
      font-family: Georgia, serif;
}
.customerFeedbackDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
}
.customerFeedbackCard{
  width:60%;
  padding:2%;
  background-color:goldenrod;
  opacity: 0.8;
  border-radius:8px;
  display:flex;
  justify-content:space-between;
}
.feedbackIcon{
  color:#fff;
  margin-top: auto;
  margin-bottom:auto;
}
.feedbackText{
  width:100%;
  font-size:15px;
  color:#fff;
  font-weight:500;
  text-align: right;
}
.customerFeedbackText{
  display: flex;
  width:70%;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.feedbackByName{
  width:100%;
  font-size:15px;
  color:#fff;
  font-weight:500;
  text-align: right;
}
.dotsOnFeedback{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  justify-content:center;
  align-items:center;
  display: flex;
  flex-direction: row;
}
.dotsManual{
  color:#fff;
  margin-top:1%;
  margin-left:0.5%;
  cursor: pointer;
}
.covidSafetyDiv{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;

}
.covidSafetySpan{
  width:60%;
  margin-top: auto;
  margin-bottom:auto;
}
.covidSafetySpanText{
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color:#333;
  font-size:20px;
  font-weight: 500;
}
.videoCovid{
  border-left: 1px solid #333;
  padding-left:8%;
  width:30%;
  height:50%;
}
.connectedInfo{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  margin-top:1%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.connectedImage{
  width:20%;
  cursor: pointer;
}
.cartAndOrderShowDiv{
  width:95%;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}
.cartAndOrderDisplay{
  width:4%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.shopCartOrderRecieptIcon{
  color:#004d40;
  cursor: pointer;
}
}

.logoMainLandingPage{
  width:18%;
  position:absolute;
  padding-left: 20px;
  padding-top:5px;
}


